/*
__        __          _
\ \      / /_ _ _   _| |__   __ _ _ __
 \ \ /\ / / _` | | | | '_ \ / _` | '__|
  \ V  V / (_| | |_| | |_) | (_| | |
   \_/\_/ \__,_|\__, |_.__/ \__,_|_|
                |___/
*/

/*
 */

* {
    transition-property: none;
    animation: none;
    font-size: 14px;
    font-family: "JetBrains Mono Nerd Font", monospace;
    border-radius: 0px;
    padding: 2px; 
  }
  
  window#waybar {
    background: #B1A5B5;
    color: #ebdbb2;
  }
  
  #workspaces,
  #tray {
    padding: 0px;
  }
  
  #workspaces button {
    padding: 0px 14px 0 8px;
    color: #ebdbb2;

    border-radius: 2px;
    margin-right: 4px;
    border: 0;
  }

  #workspaces button.persistent {
    color: #928374;
  }
  
  #workspaces button.focused {
    color: #89857A;
    background: #C9B9C7;
  }
  
  
  /* #workspaces button.current_output {
    color: #ebdbb2;
  }

  #workspaces button.current_output.visible {
    color: #89857A;
    background: #C9B9C7;
  }

  #workspaces button.current_output.focused {
    color: #faf4e4;
    background: #C9B9C7;
  } */


  #workspaces button.urgent {
    background: #e2a37e;
  }
  
  #workspaces button:hover {
    background: #C9B9C7;
    box-shadow: none;
    text-shadow: none;
    border: 0;
  }
  
  #window {
    color: #ebdbb2;
  }
  
  #pulseaudio,
  #network,
  #cpu,
  #memory,
  #temperature,
  #backlight,
  #battery,
  #clock,
  #disk {
    color: #ebdbb2;
    padding: 0 14px 0 8px; 
  }

  #tray {
    background: #C9B9C7;
  }

  #mode {
    padding: 0 8px;
    border-radius: 2px;
    color: #928374;
    background-color:#e2a37e;
  }
  