
window#waybar {
    color: @foreground;
    background: @background;
    border-bottom: 2px solid @color5;
}
  
#tray {
    padding: 0;
}

#workspaces {
    padding: 0;
    background: @color9;
}


#workspaces button {
  padding: 4px 16px 4px 8px;
  color: @background;
  background: @color1;
  margin: 0px;
  border-radius: 0px;
}

#workspaces button.visible {
  color: @background;
}

#workspaces button.active,
#workspaces button:hover {
  color: @background;
  background: @color2;
}

#workspaces button.urgent {
  background-color: @color4;
}

#workspaces button:hover {
  background: @ui-ws-hover-bg;
  color: @ui-ws-hover-color;
}

#tray {
  padding: 0 8px;
}

.modules-right {
  padding: 0 0 0 10px;
}

.modules-right .module {
    /* padding: 0 14px 0 8px; */
    background: @color3;
    margin: 3px;
}

#clock {
    color: @ui-clock-color;
    padding: 0 8px;
    background: @ui-clock-bg;
}

#idle_inhibitor,
#custom-sunset {
  /* padding: 0px 10px; */
  /* margin: 4px 0; */
  background: transparent;
  /* border-radius: 10px; */
}

#idle_inhibitor.activated,
#custom-sunset.on {
  color: @color3;
}
