
window#waybar {
    color: @foreground;
    background: @background;
    border-bottom: 3px solid @color5;
}
  
#tray {
    padding: 0;
}

#workspaces {
    padding: 0;
    background: @color9;
    border-bottom: 3px solid @color5;
}


#workspaces button {
  padding: 4px 16px 4px 8px;
  color: @background;
  background: @color5;
  margin: 0px;
  border-radius: 0px;
}

#workspaces button.visible {
  color: @background;
}

#workspaces button.active,
#workspaces button:hover {
  color: @background;
  background: @color1;
}

#workspaces button.urgent {
  background-color: @color4;
}


#tray {
  padding: 0 8px;
}

.modules-right {
  padding: 0 0 0 10px;
}

.modules-right .module {
    background: @color3;
    margin: 8px 2px;
}

#clock {
    color: @background;
    background: @color1;
    padding: 0 8px;
    margin: 0;
}

#idle_inhibitor,
#custom-sunset {
  background: transparent;
}

#idle_inhibitor.activated,
#custom-sunset.on {
  color: @color3;
}
