
window#waybar {
    background: @ui-bar;
    color: @ui-bar-color;
}
  
#tray {
    padding: 0;
}

#workspaces {
    padding: 0;
}

.modules-left {
    /* border: 2px solid gold; */
}

#workspaces button {
  color: @ui-ws-color;
  background: @ui-ws-bg;
}

/* 2nd screen active, not focuse */
#workspaces button.visible {
  color: @ui-ws-inactive-color;
  background: @ui-ws-inactive-bg;
}

#workspaces button.active {
  color: @ui-ws-active-color;
  background: @ui-ws-active-bg;
}

#workspaces button.urgent {
  background: @ui-urgent-bg;
  color: @ui-urgent-color;
}

#workspaces button:hover {
  background: @ui-ws-hover-bg;
  color: @ui-ws-hover-color;
}


.module {
    color: @ui-bar-color;
}

#clock {
    color: @ui-clock-color;
    background: @ui-clock-bg;
}
  
