window#waybar {
  color: @foreground;
  background: @background;
  border-bottom: 3px solid @blue;
}

#tray {
  padding: 0;
}

#workspaces {
  padding: 0;
  background: @cyan;
  border-bottom: 3px solid @blue;
}

#workspaces button {
  padding: 4px 16px 4px 8px;
  color: @background;
  background: @yellow;
  margin: 0px;
  border-radius: 0px;
  border: 2px solid transparent;
  border-bottom: 0;
}

#workspaces button.visible {
  color: @background;
  border: 2px solid @blue;
  border-bottom: 0;
}

#workspaces button.active,
#workspaces button:hover {
  color: @background;
  background: @blue;
}

#workspaces button.urgent {
  background-color: @red;
}

#tray {
  padding: 0 8px;
}

.modules-right {
  padding: 0 0 0 10px;
}

.modules-right .module {
  background: @red;
  margin: 5px 2px 8px 2px;
}

#clock {
  color: @background;
  background: @blue;
  padding: 0 8px;
  margin: 0;
}

#idle_inhibitor,
#custom-sunset {
  background: transparent;
}

#idle_inhibitor.activated,
#custom-sunset.on {
  color: @red;
}

#submap {
  background: @magent;
  color: @background;
  padding: 0 10px;
}
