window#waybar {
  background: @background;
  color: @foreground;
}

#tray {
  padding: 0 10px;
}

#tray .panel {
  border: 1px solid blue;
}
#workspaces {
  padding: 0;
}

.modules-left {
  /* border: 2px solid gold; */
}

#workspaces button {
  color: @background;
  background: @magenta;
}

/* 2nd screen active, not focused */
#workspaces button.visible {
  color: @background;
  background: @cyan;
}

#workspaces button:hover,
#workspaces button.active {
  color: @background;
  background: @cyan;
}

#workspaces button.urgent {
  background: @red;
  color: @background;
}

.module {
  color: @foreground;
}

#clock {
  color: @background;
  background: @yellow;
}

#battery {
  padding: 0 10px;
}

#submap {
  background: @yellow;
  color: @background;
  padding: 0 10px;
}
