
window#waybar {
    background: @background;
    color: @foreground;
}

#tray {
  padding: 0;
}

#workspaces {
  padding: 0;
}


.modules-left {
    /* border: 2px solid gold; */
}

#workspaces button {
  color: @background;
  background: @color3;
}

/* 2nd screen active, not focused */
#workspaces button.visible {
  color: @background;
  background: @color1;
}

#workspaces button:hover,
#workspaces button.active {
  color: @bacground;
  background: @color1;
}

#workspaces button.urgent {
  background: @color6;
  color: @background;
}


.module {
    color: @foreground;
}

#clock {
    color: @background;
    background: @color5;
}
  
