window#waybar {
  background: transparent;
  color: @foreground;
}

#tray {
  padding: 0;
}

#workspaces {
  padding: 0;
}

#window {
  padding: 0 20px;
}

.modules-center {
  background: @background;
}

.modules-right {
  /* border: 2px solid gold; */
  background: @background;
}

#workspaces button {
  color: @background;
  background: @magenta;
}

/* 2nd screen active, not focused */
#workspaces button.visible {
  color: @background;
  background: @cyan;
}

#workspaces button:hover,
#workspaces button.active {
  color: @background;
  background: @cyan;
}

#workspaces button.urgent {
  background: @red;
  color: @background;
}

.module {
  color: @foreground;
}

#clock {
  color: @background;
  background: @yellow;
}
