@import "/home/anne/.cache/wal/colors-waybar.css";

@define-color red @color1;
@define-color dark-red @color9;

@define-color green @color2;
@define-color dark-green @color10;

@define-color yellow @color3;
@define-color dark-yellow @color11;

@define-color blue @color4;
@define-color dark-blue @color12;

@define-color magenta @color5;
@define-color dark-magenta @color13;

@define-color cyan @color6;
@define-color dark-cyan @color14;

* {
  all: unset;
  animation: none;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
}
tooltip {
  border: white;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

tooltip label {
  padding: 4px;
}

window#waybar {
  color: black;
  background: white;
}

#window {
  padding: 0 10px;
}

#workspaces button {
  color: #999999;
  transition: all 0.5s;
  /* space for icons */
  padding: 0 16px 0 8px;
  border-radius: 0;
}

#workspaces button.active,
#workspaces button:hover {
  color: black;
}

.modules-right .module {
  padding: 0 14px 0 8px;
}

#taskbar button {
  padding: 0 8px;
  border-radius: 0;
}

#clock {
  padding: 0 8px;
}

#idle_inhibitor,
#custom-sunset {
  background: transparent;
}

#idle_inhibitor.activated,
#custom-sunset.on {
  color: @red;
}
