* {
  all: unset;
  animation: none;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
}
tooltip {
  border: white;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

tooltip label {
  padding: 4px;
}

window#waybar {
  color: black;
  background: white;
}

#workspaces button {
  color: #999999;
  transition: all 0.5s;
  /* space for icons */
  padding: 0 16px 0 8px;
  border-radius: 0;
}

#workspaces button.active,
#workspaces button:hover {
  color: black;
}

.modules-right .module {
  padding: 0 14px 0 8px;
}

#taskbar button {
  padding: 0 8px;
  border-radius: 0;
}

#clock {
  padding: 0 8px;
}
